<div style="width: 100vw; height: 100vh; position: relative;">
  <img src="./assets/sky.svg" style="position: absolute; top: 0;left: 0; width: 100vw; height: 100vh;"/>

  <div style="position: absolute; bottom: 0;">
    <img src="./assets/building.svg" style="width: 100vw; height: 100vh;">
    <section style="position: absolute; top: 0; left: 300px; width: 400px">
        <div style="width:auto; height:fit-content"><flat1></flat1></div>
        <div style="width:auto; height:fit-content; object-fit: contain;"><flat2></flat2></div>
    </section>
  </div>
</div>



